* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000305;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
}
